@import "partials/_mixins.scss";
@import "partials/_variables.scss";

*{
  margin: 0px auto;
  padding: 0px auto;
  box-sizing: border-box;
}

.container {
  @include flexColumn;
  align-content: center;
  padding-top: 5vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #E5EBF5;
  font-family: "Open Sans";
}

.row {
  @include flexRow;
  width: 1200px;
  height: 110px;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin-top: 1vh;
  box-shadow: 1px 1px 5px 1px $borderAndShadowColor;
}

.subRow_1, .subRow_2, .subRow_11 {
  @include flexRow
}
.bigBox {
  @include flexRow;
  justify-content: flex-start;
  width: 300px;
  height: 110px;
}
/***** yellow stripe *****/
.smallStripe {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 20px;
  font-size: $smallLetters;
  font-weight: bold;
  color: white;
  background-color: #FFBD3B;
}
.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 0.5px;
}
/**** text box ****/
.textBox {
  width: 300px;
  height: 70px;
  margin-top: 18px;
  padding-left: 24px;
  color: $mainFontColor;
}
.title {
  @include flexRow;
  font-size: 14px;
  margin-bottom: 11px;
  height: 35px;
  width: 310px;
  margin-left: 0px;
}
.subtitle {
  font-size: 10px;
}
.subtitle {
  @include flexColumn;
}
.subtitleUmbrella, .subtitleDot {
  @include flexRow;
}
.subtitle, .subtitleUmbrella, .subtitleDot, .iconUmbrella, .iconDot {
  margin-left: 0px;
}
.iconUmbrella, .iconDot {
  height: 13px;
  width: 13px;
}
.iconUmbrella {
  background-image: url("../icons/umbrela.png");
}
.iconDot {
  background-image: url("../icons/circle.png");
}

/**** first value, second box, small box ****/
.firstValue, .smallBox, .buttonBox {
  @include flexColumn;
  border-left: 1px solid $borderAndShadowColor;
  height: 75px;
  margin-top: 17px;
  font-size: 16px;
}
.smallBox, .firstValue {
  color: $mainFontColor;
}
.firstValue {
  width: 150px;
}
.smallBox {
  width: 103px;
}
.valueNumber {
  color: $raspberry;
}
.valueNumber span {
  font-size: $smallLetters;
  color: $mainFontColor;
}
.procentage {
  margin-top: 23px;
  font-size: 18px;
}
.time {
  font-size: 10px;
}
/**************** button cell **************/
.buttonBox {
  width: 109px;
}
.smallButton, .bigButton {
  border: 0px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to left, #FF5A55, $raspberry);
  font-size: 10px;
  font-weight: bold;
}
.smallButton {
  margin-top: 7px;
  height: 34px;
  width: 75px;
}
.smallButton:hover {
  box-shadow: $shadow;
  margin-top: 3px;
  width: 85px;
  height: 38px;
}
.bigButton {
  display: none;
  width: 310px;
  height: 34px;
  margin-top: 15px;
}
.bigButton:hover {
  box-shadow: $shadow;
}
.buttonIcons {
  @include flexRow;
  margin-top: 12px;
  width: 50px;
  height: 14px;
}
.eyeImage, .eyeImageHidden {
  background-image: url("../icons/eye.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 13px;
}
.eyeImageHidden {
  display: none;
  margin-left: 100px;
  margin-right: 0px;
}
.eyeImageHidden:hover {
  background-image: url("../icons/eyecolor.png");
}
.eyeImage {
  margin-right: 14px;
}
.eyeImage:hover {
  background-image: url("../icons/eyecolor.png");
}
.weightImage {
  background-image: url("../icons/weight.png");
  width: 18px;
  height: 13px;
}
.weightImage:hover {
  background-image: url("../icons/weightcolor.png");
}

/****************** media **************************/

@media only screen and (max-width: 1200px) {
  .row {
    width: 994px;
  }
  .oneYear {
    display: none;
  }
  .thirtyMonths {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    width: 769px;
  }
  .twelveMonths {
    display: none;
  }
  .threeMonths {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  * {
    margin:0px;
  }
  .row {
    width: 360px;
    height: 245px;
    margin-left: 2vw;
  }
  .smallStripe {
    height: 245px;
    width: 20px;
    padding-left: 3px;
  }
  .bigBox {
    width: 340px;
    height: 125px;
  }
  .textBox {
    width: 325px;
  }
  .subtitle {
    margin-top: 14px;
  }
  .subtitleDot {
    display: none;
  }
  .eyeImageHidden {
    display: block;
  }
  /***** second row ****/
  .subRow_1 {
    @include flexColumn;
  }
  .subRow_11 {
    display: flex;
    flex-direction: row;
    width: 310px;
    border-top: 1px solid $borderAndShadowColor;
    margin-top: 15px;
    margin-left: 15px;
  }
  .subRow_2 {
    display: none;
  }
  .firstValue {
    width: 128px;
    border-style: none;
  }
  .procentage {
    margin-left: 20px;
    margin-top: 15px;
  }
  .time {
    margin-left: 38px;
  }
  .buttonBox {
    display: none;
  }
  .bigButton {
    display: block;
    margin-left: -7px;
  }
}